.Main {
    --main-accent-color: #F4F4F4;
    --main-bg-color: #fff;
    --main-color: #F4796B;
    display: flex;
    flex-direction: column;
    background-color: var(--main-accent-color);

  }

.search-wrapper{
    display: flex;
    justify-content: center;
}

.search-wrapper > input{
    padding: 0px 5px;
    outline: none;
    border-radius: 8px 0px 0px 8px;
    height: 35px;
    width: 400px;
    border: 1px solid var(--main-accent-color );
}

.search-wrapper >   select{
    padding: 0px 5px;
    outline: none;
    border-radius: 0px 8px 8px 0px;
    height: 37px;
    border: 1px solid var(--main-accent-color );
}

.Banner{
    text-align: center;
}

.Archive-Projects{
    grid-gap: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    max-width: 100%;
    padding: 80px 160px;
}

.Archive-Projects > p{
    background-color: #fff;
}