@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  --main-accent-color: #F4F4F4;
  --main-bg-color: #fff;
  --main-color: #F4796B;
}

.waves{
    max-width: 100%;
    left: 0px;
    top: 90px;
    position: absolute;
}

.Nav{
  align-items: center;
  background: var(--main-bg-color);
  border-bottom: 2px solid #F4F4F4;
  display: flex;
  height: 90px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: background-color 0.2s ease-out, border-bottom 0.2s ease-out;
}

.Nav-NonScroll{
  align-items: center;
  background: var(--main-color);
  border-bottom: 2px solid #F4796B;
  display: flex;
  height: 90px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: background-color 0.2s ease-out, border-bottom 0.2s ease-out;
}

.Page{
    padding-top: 90px;
}

@media only screen and (orientation: portrait) {
    .Page > .Bio{
    background-color: #fff;
    height: fit-content;
    max-width: 100%;
    padding: 0 20px;
    padding-bottom: 50px;
    }

    .Bio > .Panel {
        margin-top: 30px;
        background-color: #F4F4F4;
        border-radius: 10px;
        padding: 20px;
        height: fit-content;
        max-width: 100%;
        position: relative;

    }
}

@media only screen and (orientation: landscape) {
    .Page > .Bio{
    background-color: #fff;
    height: fit-content;
    max-width: 100%;
    padding: 0 160px;
    padding-bottom: 200px;
    }

    .Bio > .Panel {
        background-color: #F4F4F4;
        border-radius: 10px;
        padding: 40px;
        height: fit-content;
        width: 50%;
        position: relative;
        margin: 20px;
    }
}



.SkillList > .Pill {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    margin: 2px 2px;
}

.Panel > .SkillList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.Panel > .Button {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin-top: 20px;
    text-decoration: none;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    transition: background-color 0.2s ease-out;
}



  @media only screen and (orientation: landscape) {
    
    .Page > .Projects{
        background-color: #F4F4F4;
        max-width: 100%;
        padding: 80px 160px;
      }

    .Projects > .Grid{
        grid-gap: 40px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10px;
    }
}

@media only screen and (orientation: portrait) {
    .Page > .Projects{
        background-color: #F4F4F4;
        max-width: 100%;
        padding: 0 20px;
        padding-top: 10px;
        padding-bottom: 50px;
        height: fit-content;
      }
    
    .Projects > .Grid{
        max-width: 100%;
        grid-gap: 40px;
        display: grid;
        gap: 40px;
        grid-template-row: 1fr 1fr 1fr;
        margin-top: 10px;
    }
  }

.Projects > .Archive{
    margin-top: 10px;
    color: #F4796B;
    float: right;
}

.Page > .Contact {
    background-color: #fff;
    max-width: 100%;
    padding: 100px 160px;
}

.Contact > .Card {
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    background-color: #F4F4F4;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    transition: background-color 0.2s ease-out;
}

.Contact > .Card:hover {
    background-color: #F4796B;

}

.Contact > .Card > span {
    padding-left: 10px;
}

.Contact > .Card:hover > span {
    color: #fff;

}

.Contact > .Card:hover > svg {
    color: #fff;

}

.Contact > .Email{
    background-color: #F4F4F4;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
}

.

.Button {
    background-color: #F4796B;
    border: 2px solid #F4796B;
    border-radius: 10px;
    color: #fff;
    padding: 8px 25px;
    transition: all .2s ease-out;
}

.Footer{
    height: 80px;
    border-top: 2px solid #f4f4f4;
    display: flex;
    justify-content: center;
}