@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.Nav{
  align-items: center;
  background: #fff;
  border-bottom: 2px solid #f4f4f4;
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 48px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.Page{
    padding-top: 90px;
}

.Page > .Bio{
  background-color: #fff;
  height: 600px;
  width: 100%;
}

.Bio > .Panel {
    background-color: #F5F4FC;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
    position: relative;
    margin: 20px;
}

.Page > .Projects{
    background-color: #F5F4FC;
    max-width: 100%;
    padding: 100px 160px;
  }

.Projects > .Grid{
    grid-gap: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
}

.Projects > .Archive{
    margin-top: 10px;
    color: #F4796B;
    float: right;
}

.Page > .Contact {
    background-color: #fff;
    max-width: 100%;
    padding: 100px 160px;
}

.Contact > .Card {
    border-radius: 10px;
    padding: 40px;
    background-color: #F5F4FC;
    margin: 10px;
    transition: background-color 0.2s ease-out;
}

.Contact > .Card:hover {
    background-color: #F4796B;

}

.Button {
    background-color: #F4796B;
    border: 2px solid #F4796B;
    border-radius: 10px;
    color: #fff;
    padding: 8px 25px;
    transition: all .2s ease-out;
}

.Footer{
    height: 80px;
    border-top: 2px solid #f4f4f4;
    display: flex;
    justify-content: center;
}